@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

:root{
    --background-color: white;
    --background-color-header-footer: black;
}

body{
    font-size: 62.5%; /* rem valendo 10px */
}

header{
    background-color: var(--background-color-header-footer);
    padding: 1rem;
    text-align: center;
    color: white;
}

header h1{
    padding-bottom: 1rem;
}

.container{
    padding: 1rem;
    color: black;
    font-size: 0.8rem;
}

.container > h2{
    padding-bottom: 1rem;
}


footer{
    background-color: var(--background-color-header-footer);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}